body {
	margin: 0;
}

p {
	margin: 0;
}

a {
	all: unset;
}

button {
	all: unset;
}

.button {
	transition: outline .2s ease-in-out;
	background-color: rgb(150, 150, 150);
	outline: solid black 2px;
	padding: 15px 10px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 25px;
}

.button:hover {
	outline: solid white 1px;
}

.top_panel {
	background-color: rgb(200, 200, 200);
	padding: 10px;
	display: flex;
}

.container_item {
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(150, 150, 150);
	padding: 10px;
	border-radius: 25px;
	font-size: 22px;
}

.worker_profile_img {
	width: 12vw; 
	height: 12vw; 
	border-radius: 20px;
}
@media screen and (max-width: 1000px) {
	.worker_profile_img {
		width: 25vw; 
		height: 25vw; 
	}
}
@media screen and (max-width: 750px) {
	.worker_profile_img {
		width: 30vw; 
		height: 30vw; 
	}
}
@media screen and (max-width: 400px) {
	.worker_profile_img {
		width: 60vw; 
		height: 60vw; 
	}
}

#worker_register_options {
	height: 60px;
	font-size: 20px;
}

.container {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(6, 1fr);
	padding: 10px;
}
@media screen and (max-width: 1000px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 750px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 400px) {
	.container {
		grid-template-columns: repeat(1, 1fr);
	}
}